<p id="notice"><%= notice %></p>

<p>
  <b>Make:</b>
  <%= @car.make_id %>
</p>

<p>
  <b>Price:</b>
  <%= @car.price %>
</p>

<p>
  <b>Model:</b>
  <%= @car.model %>
</p>

<p>
  <b>Year:</b>
  <%= @car.year %>
</p>

<p>
  <b>Color:</b>
  <%= @car.color %>
</p>

<p>
  <b>Date listed:</b>
  <%= @car.date_listed %>
</p>

<p>
  <b>Date sold:</b>
  <%= @car.date_sold %>
</p>


<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
